<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrimeiroAplicativo"
        tools:targetApi="31">
        <activity
            android:name=".masctreino.TreinoAFinalizacaomasc"
            android:exported="false" />
        <activity
            android:name=".masctreino.TreinoTricepsDipmasc"
            android:exported="false" />
        <activity
            android:name=".masctreino.TreinoTricepsPuleymasc"
            android:exported="false" />
        <activity
            android:name=".masctreino.TreinoDesenMaquinamasc"
            android:exported="false" />
        <activity
            android:name=".masctreino.ElevacaoLaretalHalteresmasc"
            android:exported="false" />
        <activity
            android:name=".masctreino.TreinoSupinoRetomasc"
            android:exported="false" />
        <activity
            android:name=".masctreino.TreinoSupinoMaquinamasc"
            android:exported="false" />
        <activity
            android:name=".masctreino.TreinoSupinoInclinadomasc"
            android:exported="false" />
        <activity
            android:name=".masctreino.TreinoCrucifixomasc"
            android:exported="false" />
        <activity
            android:name=".TreinoCfeminino"
            android:exported="false" />
        <activity
            android:name=".TreinoAfeminino"
            android:exported="false" />
        <activity
            android:name=".TreinoA"
            android:exported="false" />
        <activity
            android:name=".TreinoC"
            android:exported="false" />
        <activity
            android:name=".TreinoB"
            android:exported="false" />
        <activity
            android:name="treino_masculino.Treino_b_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity_perfil$Treino_a_Activity"
            android:exported="false" />
        <activity
            android:name="treino_masculino.treino_a"
            android:exported="false" />
        <activity
            android:name=".TreinoActivity"
            android:exported="false" />
        <activity
            android:name=".Activity_perfil"
            android:exported="false" />
        <activity
            android:name=".CadastroActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>