<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrimeiroAplicativo"
        tools:targetApi="31">
        <activity
            android:name=".Info1"
            android:exported="false" />
        <activity
            android:name=".DadosUser"
            android:exported="false" />
        <activity
            android:name=".AbcMasculino"
            android:exported="false" />
        <activity
            android:name=".masctreino_c.TreinoCFinalizacaomasc"
            android:exported="false" />
        <activity
            android:name=".masctreino_c.PanturrilhaSentadomasc"
            android:exported="false" />
        <activity
            android:name=".masctreino_c.StiffMasc"
            android:exported="false" />
        <activity
            android:name=".masctreino_c.MesaFlexoramasc"
            android:exported="false" />
        <activity
            android:name=".masctreino_c.CadeiraFlexoramasc"
            android:exported="false" />
        <activity
            android:name=".masctreino_c.CadeiraExtensoramasc"
            android:exported="false" />
        <activity
            android:name=".masctreino_c.LegpressMasc"
            android:exported="false" />
        <activity
            android:name=".masctreino_c.HackMasc"
            android:exported="false" />
        <activity
            android:name=".masctreino_b.TreinoBFinalizacaomasc"
            android:exported="false" />
        <activity
            android:name=".masctreino_b.RoscaMartelo"
            android:exported="false" />
        <activity
            android:name=".masctreino_b.RoscaScott"
            android:exported="false" />
        <activity
            android:name=".masctreino_b.RoscaDireta"
            android:exported="false" />
        <activity
            android:name=".masctreino_b.RemadaBarra"
            android:exported="false" />
        <activity
            android:name=".masctreino_b.Puxador"
            android:exported="false" />
        <activity
            android:name=".masctreino_b.RemadaMaquina"
            android:exported="false" />
        <activity
            android:name=".masctreino_b.RemadaHalteresmas"
            android:exported="false" />
        <activity
            android:name=".masctreino_a.TreinoAFinalizacaomasc"
            android:exported="false" />
        <activity
            android:name=".masctreino_a.TreinoTricepsDipmasc"
            android:exported="false" />
        <activity
            android:name=".masctreino_a.TreinoTricepsPuleymasc"
            android:exported="false" />
        <activity
            android:name=".masctreino_a.TreinoDesenMaquinamasc"
            android:exported="false" />
        <activity
            android:name=".masctreino_a.ElevacaoLaretalHalteresmasc"
            android:exported="false" />
        <activity
            android:name=".masctreino_a.TreinoSupinoRetomasc"
            android:exported="false" />
        <activity
            android:name=".masctreino_a.TreinoSupinoMaquinamasc"
            android:exported="false" />
        <activity
            android:name=".masctreino_a.TreinoSupinoInclinadomasc"
            android:exported="false" />
        <activity
            android:name=".masctreino_a.TreinoCrucifixomasc"
            android:exported="false" />
        <activity
            android:name=".TreinoCfeminino"
            android:exported="false" />
        <activity
            android:name=".TreinoAfeminino"
            android:exported="false" />
        <activity
            android:name=".TreinoA"
            android:exported="false" />
        <activity
            android:name=".TreinoC"
            android:exported="false" />
        <activity
            android:name=".TreinoB"
            android:exported="false" />
        <activity
            android:name="treino_masculino.Treino_b_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity_perfil$Treino_a_Activity"
            android:exported="false" />
        <activity
            android:name="treino_masculino.treino_a"
            android:exported="false" />
        <activity
            android:name=".TreinoActivity"
            android:exported="false" />
        <activity
            android:name=".Activity_perfil"
            android:exported="false" />
        <activity
            android:name=".CadastroActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>